.overlay {
  background-image: url(./imgs/typewriter2.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 550px;
}
.navbar-brand {
  font-size: 26px !important;
}
.nav-item {
  font-size: 20px;
  color: #212529 !important;
}

.nav-item:hover,
.nav-item:focus {
  text-decoration: underline !important;
}

.header {
  height: calc(100% - 64px);
}
.header-title {
  font-size: 52px;
  font-weight: bold;
}
